@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@400;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply  text-lg font-pragraph text-w-paragraphy;
    }
    h1, h2, h3, h4, h5, h6{
        @apply font-semibold font-heading;
    }

    h1{
        @apply md:text-5xl text-4xl;
    }
    h2{
        @apply text-4xl;
    }
    h3{
        @apply text-3xl;
    }
    h4{
        @apply text-2xl;
    }
    h5{
        @apply text-xl;
    }
    h6{
        @apply text-lg;
    }
}




a {
    text-decoration: none;
    display: block;
}

.header-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.h-menu ul {
	display: flex;
	column-gap: 20px;
}
.menu-trigger span {
	display: block;
	background: black;
	border-bottom: 2px solid;
	width: 25px;
}
.menu-trigger {
	display: none;
	flex-direction: column;
	row-gap: 5px;
    cursor: pointer;
}
.mobile-menu{
    display: none;
}
.mobile-menu {
	padding-left: 100px;
	padding-bottom: 20px;
	padding-top: 20px;
}
.mobile-menu ul {
	display: flex;
	flex-direction: column;
	gap: 13px;
}
.header-wrapper.header-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*                                   video button / icon */

.video-icon {
	height: 50px;
	width: 50px;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: relative;
}

@keyframes ripple {
	0% {
	  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
	}
	100% {
	  box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 80px rgba(255, 255, 255, 0);
	}
  }

/* Add an animation to the button with the infinite keyword */
.ripple::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  animation: ripple 2s ease-out infinite;
}

/*    end video icon */

.ttik::before {
	content: "";
	background: url(assets/img/tik.svg) no-repeat scroll center / contain;
	height: 19px;
	width: 22px;
	position: absolute;
	left: 2px;
	top: 3px;
	color: var(--primary);
}
.ttik {
	position: relative;
	padding-left: 30px;
}

.bdr{
	position: relative;
}
* .bdr::after {
	content: "";
	height: 22px;
	width: 1px;
	position: absolute;
	top: 3px;
	right: 0;
	background: #101921;
} 
                            /* owl-carousel */
.courses-sec h2{
    @apply font-normal text-white ;
}
.courses-sec strong{
    @apply font-bold text-white;
}
.card-love i{
    font-size: 20px;
}

/* owl-carousel */


.slider1 button {
	color: white;
	height: 50px;
	width: 50px;
	background: #172430;
	border-radius: 50%;
	padding: 10px;
}
.pink{
	padding-right: 30px;
}



/* mobile manu */


.h-menu li a{
	@apply   hover:text-primary;
}
.about-font-img{
	@apply max-w-[434px] w-full h-full right-0 ;
}
.header-menu .h-menu{
	@apply flex gap-x-16  items-center ;
}
.header-menu .h-menu ul {
	@apply  block md:flex gap-x-10 ;
}
.mobile-menu .h-menu li a{
	@apply  text-white hover:text-black font-semibold;
}
.mobile-menu {
	@apply rounded-l-md fixed right-0 bg-primary w-52 h-64 py-3 px-5;
}
.mobile-menu .h-menu ul li {
	@apply py-2 border-b-2 border-gray-500;
}

/*  */

.menutrigger span {
	@apply h-[2px] w-[30px] bg-black block;
}
.menutrigger span:nth-child(2) {
	margin: 6px 0;
}
.menutrigger.active span:nth-child(2) {
	opacity: 0;
}
.menutrigger.active span:nth-child(3) {
	transform: rotate(-45deg) translateY(-7px) translateX(4px);
}
.menutrigger.active span:nth-child(1) {
	transform: rotate(45deg) translateY(7px) translateX(4px);
}
.header-menu {
	@apply hidden md:block;
}
.mobile-menu {
	z-index: 20;
}


